<%= render 'books/user_info', book: @books, user: current_user %>

<div class="col-md-8 offset-md-1">
  <h2>Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |users| %>
      <tr>
        <td><%= users.get_profile_image(80, 80) %></td>
        <td><%= users.name %></td>
        <td><%= link_to "Show", user_path(users.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>