    <%= render 'books/user_info', book: @books, user: current_user %>
    <div class="col-md-8 offset-md-1">
      <h2>Book</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag current_user.get_profile_image(80,80) %></td>
            <td><%= link_to user.title, book_path(user.id) %></td>
            <td>aaa<%= user.body %></td>
          <% end %>


          </tr>
        </tbody>
      </table>
    </div>